<html>
    <head><title>Hello world</title>
    <style>
        h1{
            color: red;
        }
    </style>
    </head>
    <body>
        {% extends "Base.html" %}
        {% block content %}
        <h1 >Hello world!</h1>
        <h1 style="color : blue;">Hello world2!</h1>
        Name : {{name}} <br>
        Role : {{role}} <br>
        Marks: {{marks}}<br>

        {% if role == "admin" %}
        <h1>Welcom {{name}} </h1>

        {% elif role == "hr" %}
        <h1>Welcom HR </h1>

        {% else %}
        <h1>Welcome Developer </h1>

        {% endif %}

        {% for mark in marks %}
        <h1> Mark is : {{mark}}
        {% endfor %}
        {% endblock %}
    </body>
</html>